<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [@project.name@,%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PERF_KAFKA" class="com.derby.nuke.common.module.kafka.appender.logback.KafkaLogbackAppender">
        <applicationName>@project.name@</applicationName>
        <host>@project.name@</host>
        <type>perf</type>
        <topicName>click_log_tracing_test</topicName>
        <kafkaServerId>KFK_PERF</kafkaServerId>
        <pattern>[@project.name@,%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] - %msg</pattern>
    </appender>

    <logger name="PERF_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="PERF_KAFKA"/>
    </logger>

    <!-- logback为java中的包 -->
    <logger name="logback"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.derby.nuke.common.module.kafka.appender" level="DEBUG"/>
</configuration>